@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 15, 23, 42;
    --background-end-rgb: 28, 42, 80;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  box-sizing: border-box;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-size: 16px;
}

svg {
  height: 100px;
  width: 100px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  margin: 2rem;
}


h3 {
  font-size: 1.5em;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 1vh;
  font-weight: 800;
  font-variant: small-caps;
}
