@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  color: #FFF;
  box-sizing: border-box;
  background-color: #1b1a28;
  font-size: 16px;
}

svg {
  height: 100px;
  width: 100px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  margin: 2rem;
}


h3 {
  font-size: 1.5em;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 1vh;
  font-weight: 800;
  font-variant: small-caps;
}

.bg {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(90deg, #0049A2 0%, #0049A2 25%, #151883 51%, #151883 100%);
  animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}